.button {
    background-color: #FC7307; 
    border: none;
    color: white;
    margin: auto;
    padding: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 33%;

    }
.button:hover {
    background-color: #372619;
}
.start{
    border-radius:20px 0px 0px 20px;
}
.end{
    border-radius: 0px 20px 20px 0px;
}


